// DEPRECATED (use flex or grid instead) --> to fix float elements adding a pseudo element after floats
@mixin clearfix {
  &::after {
    content: ""; // to no show the element
    display: table;
    clear: both; // float left and right
  }
}

@mixin center-with-absolute-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Media query manager
/*
* $breakpoint argument: phone - tab-port - tab-land - big-desk
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width:37.5em) { @content };   // 600px
  }
  @if $breakpoint == tab-port {
    @media (max-width:56.25em) { @content };  // 900px
  }
  @if $breakpoint == tab-land {
    @media (max-width:75em) { @content };     // 1200px
  }
  @if $breakpoint == phone {
    @media (min-width:112.5em) { @content };  // 1800px
  }
}