// COLORS
$primary-color: #55c57a;
$primary-color-light: #7ed56f;
$primary-color-dark: #28b485;

$secondary-color-light: #ffb900;
$secondary-color-dark: #ff7730;

$tertiary-color-light: #2998ff;
$tertiary-color-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey: #777;
$color-grey-dark: #999;
$color-grey-darker: #333;
$color-white: #fff;
$color-black: #000;

$shadow-light: rgba($color-black, .15);
$shadow-dark: rgba($color-black, .4);
$shadow-darker: rgba($color-black, .5);

// GRID
$grid-width: 114rem;
$grid-width-small: 50rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// FONTS
$default-font-size: 1.6rem;

// RADIUS
$default-border-radius: 3px;