.composition {
  position: relative;

  &__photo {
    width: 55%; // image width always with percentage
    box-shadow: 0 1.5rem 4rem $shadow-dark;
    border-radius: $default-border-radius;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; // to generate a separated border

    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      outline: 1.5rem solid $primary-color;
      transform: scale(1.05) translateY(-.5rem);
      box-shadow: 0 2.5rem 4rem $shadow-darker;
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(.95);
  }
}